body {
    background-image: linear-gradient(to bottom, #B1E1FF , #E7F6F2);
    /* text-align:center; */
}
.profile {
    margin-left: 45%;
}
.profile img {
    width: 120px;
    height: 120px;
}

body {
    background-color: black;
}

.profile header {
    color: whiteblack;
    font-family: "Roboto", sans-serif;
}

.profile div {
    color: #black;
    font-size: small;
}

p::first-letter {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.icons svg {
    transition: all 0.25s;
    margin-left: 17%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.icons svg:hover {
    transform: scale(1.5, 1.5);
}

.text {
    margin-left: 1%;
    color: black;
}

.inner-text {
    color: #black;
}

.inner-text > li::first-letter {
    font-weight: 700;
    font-size: larger;
    color: black;
}

.video {
    margin-top: 5%;
    margin-left: 12.5%;
}

.audio {
    color: #black;
    margin-left: 35%;
    margin-bottom: 4%;
}

.text::first-line {
    font-size: large;
    font-weight: 700;
    text-transform: uppercase;
}

header::first-line {
    text-transform: uppercase;
}

li::marker {
    content: "> ";
    font-size: 1.2em;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.insta {
    width: 35px;
    height: 35px;
}
.facebook {
    width: 35px;
    height: 35px;
    margin-left: 3em;
    margin-right: 3em;
}
.git {
    width: 35px;
    height: 35px;
    margin-right: 3em;
}

.linkedin {
    width: 35px;
    height: 35px;
}

.anchor-buttons{
    margin-left: 600px;
}